* {
    box-sizing: inherit;
    font-family: "Segoe UI Variable", Arial, SansSerif;
}

html, body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 5fr 5fr;
}

#pdfviewer-container {
    min-width: 50%;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

#pdfviewer {
    width: 100%;
    height: 100%;
}

#workarea {
    padding: 10px;
    background: beige;
    display: block;
    grid-gap: 10px;
    grid-template-rows: minmax(auto, 200px) repeat(5, 1fr);
    grid-template-columns: 1fr;
    max-height: 100%;
}

#target {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
}

.target-input-wrapper {
    position: relative;
}

.open-link {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 11px;
    cursor: pointer;
}

.open-link svg {
    width: 1rem;
    color: #ffda70;
}

#target-path {
    padding-left: 30px;
}

.inactive {
    opacity: 0.5;
    cursor: default;
}

#folderlist-container {
    max-height: 10rem;
    margin: 10px 0 10px 0;
}

#folderlist {
    width: 100%;
    line-break: strict;
    background: #ffffff;
    font-size: 80%;
    border: 1px solid black;
    height: 10rem;
    overflow: scroll;
}

#existing-documents {
    border-radius: 10px;
    height: 10rem;
    border: 1px solid black;
    background: rgba(255,255,255,0.8);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

.button-container {
    padding: 10px 0 10px 0;
}

.button {
    width: 100%;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

#submit {
    background: lightgreen;
}

#delete-button {
    background: lightpink;
}


#delete-button {
    width: 100%;
    border-radius: 10px;
    background: lightpink;
    color: white;
    padding: 20px;
}

.messagebox {
    border-radius: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 600px;
    min-height: 50px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    transition: opacity 1s;
}

.messagebox.error {
    border: 1px solid crimson;
    background: lightpink;
}

.messagebox.message {
    border: 1px solid green;
    background: lightgreen;
}

.search-match {
    background-color: khaki;
}

input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

label {
    padding: 10px;
    display: block;
}

.file {
    cursor: pointer;
}

.file:hover {
    background-color: #cce8ff;
}

.file.pdf {
    margin-left: 10px;
    background-image: url("pdf_file_icon.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 0.7rem;
    padding-left: 1rem;
}

.modal {
    position: absolute;
    top:0;
    left:0;
    z-index: 2000;
    height:300px;
    width:400px;
    background-color: white;
    border-radius:10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

#menu button {
    box-sizing: content-box;
    padding: 5px;
    width: 40px;
    height: 40px;
}

#menu button svg {
    width: 30px;
    height: 30px;
}

#menu #button-settings {
    float: right;
}

.modal .modal-header {
    margin:15px;
}

.modal .modal-body {
    margin:5px 15px 5px 15px;
}

.modal .modal-footer {
    margin:0 15px 15px 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.modal .modal-header .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #999;
    line-height: 10px;
    cursor: pointer;
}

.body-blackout {
    position: absolute;
    z-index: 1010;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .65);
    display: none;
}

.body-blackout.is-blacked-out {
    display: block;
}


.popup-trigger {
    display: inline-block;
}

.popup-modal {
    height: 365px;
    width: 650px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 45px;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in-out;
    z-index: 1011;
}

.popup-modal.is--visible {
     opacity: 1;
     pointer-events: auto;
}

.popup-model__close {
     position: absolute;
     font-size: 1.2rem;
     right: -10px;
     top: -10px;
     cursor: pointer;
}
